	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range .Site.Params.work.row }}
				<div class="col-md-4 col-sm-6 col-xxs-12"></div>				
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
				<div class="howto">
										
					<p><strong>A Browser</strong>  - A computer or laptop running the desktop version of <a href="https://www.google.com/chrome/" target="blank">Chrome</a> or <a href="https://www.mozilla.org/en-GB/firefox/new/" target="blank"> Firefox.</a></p>
										
					<div style="float:right; margin: 10px; background-color: #ff0000;"><iframe width="560" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

					<p><strong>Metamask</strong>  - To use CryptoRaffle, you will need to install <a href="https://metamask.io/" target="blank">MetaMask</a>, a digital wallet. You will need to put money in it to make your first purchase.</p>

					<p>Note: A digital wallet like MetaMask acts like a bank account—treat it with respect and make sure you don’t forget your password or the seed words.</p>
					
					<p><strong>Ether</strong>  - ETH is a digital currency that enables our game to run. For U.S. citizens only: you can purchase ether (ETH) directly from the MetaMask wallet using the Coinbase widget. For everyone else: you will need to purchase ETH from an exchange, and then transfer the ETH from your exchange wallet to your MetaMask wallet. Unfortunately, you cannot play CryptoRaffle with only an exchange account. To transfer ETH, copy your MetaMask address by clicking on the large ‘...’ next to your account, then select ‘Copy Address to clipboard’. Go to your exchange, click ‘Accounts’, and select your ETH Wallet and click ‘send’. Paste the MetaMask address in the box with the amount you’d like to transfer.</p>
					
				</div>
			
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ .Site.Params.work.footertext | markdownify }}</p>
				</div>
			</div>
		</div>
	</section>
