	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range .Site.Params.work.row }}
				<div class="col-md-4 col-sm-6 col-xxs-12">
				</div>				

				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			<p>Here’s what you need to get started:
				A computer or laptop running the desktop version of Chrome or Firefox
				MetaMask, a digital wallet used specifically with web apps
				Ether, a form of digital payment that powers CryptoRaffle</p>
			
			<p>Installing MetaMask, your digital wallet
				To use CryptoRaffle, you will need to install MetaMask, a digital wallet. You will need to put money in it to make your first purchase.

				Note: A digital wallet like MetaMask acts like a bank account—treat it with respect and make sure you don’t forget your password or the seed words.</p>
			
			<p>Getting Ether, your digital currency
				For U.S. citizens only: you can buy ether (ETH) in MetaMask. ETH is a digital currency that enables our game to run.


				For everyone else: you will need to purchase ETH from an exchange, and then transfer the ETH from your exchange wallet to your MetaMask wallet. Unfortunately, you cannot play CryptoRaffle with only an exchange account.</p>

			<p>How to send ETH to MetaMask
				For U.S. citizens only: you are able to purchase ETH directly from the MetaMask wallet using the Coinbase widget. This is more convenient and doesn’t require you to create two accounts.

				For everyone else: you need to buy ETH from an exchange using normal fiat currency. Copy your MetaMask address by clicking on the large ‘...’ next to your account, then select ‘Copy Address to clipboard’. Go to your exchange, click ‘Accounts’, and select your ETH Wallet and click ‘send’. Paste the MetaMask address in the box with the amount you’d like to transfer.</p>

			<p>Reinstalling MetaMask
				Some users need to uninstall and reinstall MetaMask because they’ve experienced a bug. If you kept your seed words, this is very easy! Just delete the extension, reinstall it, and import your twelve seed words. Then you’ll set the password you want to use (this can be the same one you used before or a whole new password), and confirm your email address and username again on the CryptoRaffle website.</p>

			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ .Site.Params.work.footertext | markdownify }}</p>
				</div>
			</div>
		</div>
	</section>
